div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}


nav {
    float: left;
    width: 15%;
    margin: 1em;
    padding: 1em;
    border-right: 1px solid gray;
    font-size: 18px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 2em;
    font-size: 18px;
}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: black;
    color: white;
}

tr:hover{background-color:#f5f5f5}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}